	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Bienvenue <%= params[:user_name] %>!</h1>
	  	<p class="lead text-muted"> Tu es du genre curieux(se) et tu as envi de connaître les derniers Gossips de THP ! <br> Ce site est fait pour toi !</p>
	  </div>
	</section>
<br>
  <main role="main">
  	<div class="album py-5 ">
      <div class="container">
				<div class="row">
					<% @gossips.each do |gossip| %>
						<div class="col-md-4">
							<div class="card" style="width: 80%;">
							  <div class="card-body">
							    <h5 class="card-title"><%=gossip.title%></h5>
							    <h6 class="card-subtitle mb-2 text-muted">By <%=gossip.user.first_name%></h6>
							    <p class="card-text"><%=gossip.content%></p>
							    <a href="#" class="card-link"><%= link_to "Read more", gossip_show_path(gossip.id) %></a>
							  </div>
							</div>
						<br>
						</div>
					<% end %> 
				</div>  
			</div>
		</div>
	</main>

