<main role="main" style="text-align: center; align-items: center; align-content: center; margin: 20px">
	<br>
	<h1> Bienvenue sur la page de <%= @user.first_name %> <%= @user.last_name %> </h1>
	<br>
			<p class="lead"> <b>Prénom</b>: <%= @user.first_name %></p>
			<p class="lead"> <b>Nom</b>: <%= @user.last_name %></p>
			<p class="lead"> <b>Age</b>: <%= @user.age %></p>
			<p class="lead"> <b>Email</b>: <%= @user.email %></p>
			<p class="lead"> <b>Ville</b>: <%= @user.city.name %></p>
			<p class="lead"> <b>Id</b>: <%= @user.id %></p>
</main>