<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>

  <body>
  <!-- Bootstrap core CSS -->
  <!-- Custom fonts for this template -->
  <!-- Custom styles for this template -->
  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Gossip</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="http://localhost:3000/welcome/"> Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="http://localhost:3000/pages/team/">Team</a>
          <a class="nav-item nav-link" href="http://localhost:3000/pages/contact/">Contact</a>
        </div>
      </div>
    </nav>

  <%= yield %>
  <!-- Footer -->
  <!-- Bootstrap core JavaScript -->
  <!-- Plugin JavaScript -->
  <!-- Custom scripts for this template -->
  </body>

</html>
